* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

header {
	width: 100%;
	align-items: center;
	background-color: #29834b;
}

.header-barra {
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.logo {
	width: 100px;
	height: 100px;
	margin-left: 50px;
}

.barra {
	width: 500px;
	height: 50px;
	margin-right: 50px;
}

.barra ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: center;
}

.barra ul li {
	display: inline;
	float: center;
}

.barra ul li a {
	display: inline-block;
	padding: 10px;
	background-color: #29834b;
	font-weight: bold;
	text-decoration: none;
	font-size: large;
	color: white;
}

.barra ul li a:active {
	color: #b36704;
}

.barra ul li a:link {
	color: #b17e3b;
}

.barra ul li a:hover {
	color: #f78d04;
}

.slider-frame {
	width: 1250px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 300%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 200%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
}

/* css de pag nosotros comienza */
.contenido-nosotros {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	display: flex;
}

.imagen-nosotros {
	align-items: center;
	display: flex;
	padding: 0 3rem;
}

.articulo {
	padding: 6px;
	box-sizing: border-box;
}

.titulo-articulo {
	font-size: 30px;
}

.p_nosotros {
	font-size: 19px;
	margin-top: 10px;
}

.contactolink {
	display: flex;
	margin: 2rem 0;
	font-weight: bold;
	text-decoration: none;
	font-size: large;
	justify-content: center;
}

@media (max-width: 768px) {
    .contenido-nosotros {
      flex-direction: column;
      align-items: center;
    }
  
    .imagen-nosotros {
      padding: 0;
      margin-bottom: 1rem; 
    }
  
    .articulo {
      text-align: center;
	  margin-left: 20px; 
    }

    .titulo-articulo {
        text-align: center;
    }
    .p_nosotros {
    font-size: 15px;
    }
}
/* css de pag nosotros termina */

/* css pag contacto empieza */
.contenedor-form {
    display: flex;
    flex-wrap: wrap;
    background-color: #efddbc;
    width: auto;
    justify-content: center;
    
}

.contenedor-links {
    margin: 10px;
    width: 30%;
    padding: 45px;
    margin-top: 80px;
}

.contenedor-3 {
    max-width: 70%;
}

.contenedor-form h2 {
    margin-bottom: 15px;
    font-size: 35px;
    align-items: center;
   
}

.contenedor-form p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
    align-items: center;
}

.contenedor-form a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color:#1b1818;
    font-weight: 700;
}

.contenedor-form a i {
    color:#e9693b;
    margin-right: 10px;

}

.contenedor-form form {
    display: flex;
	padding: 10px;
    margin: 10px;
    margin-top: 60px;
    color:#624034;
}

.contenedor-form label {
    padding: 5px;
    font-size: 18px;
}

.contenedor-form textarea {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.contenedor-form .boton{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.contenedor-form .boton:hover{
    background: #efddbc;
}
/* css pag contacto fin */

footer {
	width: 100%;
	align-items: center;
	background-color: #29834b;
	justify-content: space-between;
	display: flex;
	color: white;
	padding: 1rem 0;
}

.footer p{
	font-size: 15px;
	margin-top: 1rem;
	opacity: 0.6;
}

.p-footer {
	justify-content: center;
	display: flex;
}

.p-footer a {
	opacity: 0.6;
	padding: 2rem 2rem 0 2rem;
}

.p-footer a:hover {
	opacity: 1;
}

.separator {
	width: 25%;
}