* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

header {
	width: 100%;
	align-items: center;
	background-color: #29834b;
}

.header-barra {
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.logo {
	width: 100px;
	height: 100px;
	margin-left: 50px;
}

.barra {
	width: 500px;
	height: 50px;
	margin-right: 50px;
}

.barra ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: center;
}

.barra ul li {
	display: inline;
	float: center;
}

.barra ul li a {
	display: inline-block;
	padding: 10px;
	background-color: #29834b;
	font-weight: bold;
	text-decoration: none;
	font-size: large;
	color: white;
}

.barra ul li a:active {
	color: #b36704;
}

.barra ul li a:link {
	color: #b17e3b;
}

.barra ul li a:hover {
	color: #f78d04;
}

.slider-frame {
	width: 1250px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 300%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 200%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
}

footer {
	width: 100%;
	align-items: center;
	background-color: #29834b;
	justify-content: space-between;
	display: flex;
	color: white;
	padding: 1rem 0;
}

.footer p{
	font-size: 15px;
	margin-top: 1rem;
	opacity: 0.6;
}

.p-footer {
	justify-content: center;
	display: flex;
}

.p-footer a {
	opacity: 0.6;
	padding: 2rem 2rem 0 2rem;
}

.p-footer a:hover {
	opacity: 1;
}

.separator {
	width: 25%;
}